.banner_owner {
  height: 50vh !important;
}

.container-fluid {
  margin-left: 15px;
  text-align: center;
}


h1 {
    font-size: 200%;
    text-align: center;
  }
.btn-margin{
  border-radius: 10px;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 15px;
}

