.background{
    height: 100%!important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.banner_owner {
  height: 50vh !important;
}

.faded{
  opacity: .8;
  color: #DDDDDD;
}

.container-fluid {
  margin-left: 15px;
  text-align: center;
}

.namespace{
  opacity: .8;
  color: #DDDDDD;
}

h1 {
    font-size: 300%;
    text-align: center;
    color: #DDDDDD;
    font-weight: bold;
  }
.row{
    opacity: .8;
    color: #DDDDDD;
}

// ---------------
.btn-placment
{
  text-align: center;
  margin-bottom: 10px;

}
