<h1>Hey <%= @owner.email %>, add your workspace</h1>
<%= simple_form_for [@owner, @workspace] do |f| %>
  <%= f.input :name, placeholder: "space name"%>
  <%= f.submit "add workspace", class: "btn btn-primary btn-margin" %>
<% end %>
