<div width="100%" style="height: 300px; background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://kitt.lewagon.com/placeholder/cities/berlin');">

    <a id="schedule-tour" class="btn btn-primary btn-lg">Schedule a Tour</a>
  </div>

    <div id="header"></div>


     <div class="wrapper-blue">
      <h2><strong>Open Desk - 10 Available at SBC - Chengdu</strong></h2>
      <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-6">
        <h3>Coworking Space Details</h3>
        <p>
          <ul>High speed internet (Wired/Wireless).</ul>
          <ul>24/7 Access to open desk space.</ul>
          <ul>Coffee, tea, and filtered water.</ul>
          <ul>Shared print/scan/fax.</ul>
        </p>
    </div>
    <div class="col-xs-12 col-md-6">
      <h3>Contact For Pricing & Book a Tour</h3>
        <p>
          <ul><strong>Phone</strong>: 186-0228-2160</ul>
          <ul><strong>Email</strong>: pandaland@sspace.com</ul>
          <ul><strong>Hours</strong>: M - F 9AM - 6PM </ul>
        </p>
        </div>
      </div>
    </div>
  </div>

  <div>
  </div>
      <!-- Including Bootstrap JS (with its jQuery dependency) so that dynamic components work -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<style>
#schedule-tour {
  margin: 0 auto;
  width: 220px;
  display: block;
}

.background {
  background: #FFFFFF;
}

.card {
  background:#FFFFFF
}

.card-white{
  background: #FFFFFF
}

.wrapper-grey{
  background:#FFFFFF
}

.wrapper-blue{
  background:#FFFFFF
}

#map {
  height: 50%;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #FFFFFF;
}
#floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}
</style>

<div id="map">
  <script>
    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 8,
          center: {lat: -34.397, lng: 150.644}
        });
        // var geocoder = new google.maps.Geocoder();

        // document.getElementById('submit').addEventListener('click', function() {
        //   geocodeAddress(geocoder, map);
        // });
      }
    function geocodeAddress(geocoder, resultsMap) {
        var address = document.getElementById('address').value;
        geocoder.geocode({'address': address}, function(results, status) {
          if (status === 'OK') {
            resultsMap.setCenter(results[0].geometry.location);
            var marker = new google.maps.Marker({
              map: resultsMap,
              position: results[0].geometry.location
            });
          } else {
            alert('Geocode was not successful for the following reason: ' + status);
          }
        });
      }
  </script>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?callback=initMap&key=AIzaSyB7SSgOvYb3xo940zLJNSzU3ICtD5yQslg">
  </script>
  </div>
